<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="produtos.main">Gerencia de Produtos</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="categorias">Gerencia de Categoria</a></li>