<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="cliente.profile.perfil">Perfil</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="cliente.profile.usuarios">Usuarios</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="pages.profile.profile-timeline">Grupos</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="pages.profile.profile-connections">Connections</a></li>