<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>

            <div class="profile-info">
                Malinda Hollaway

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a data-ui-sref="pages.profile.profile-about" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">

        <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="cliente.profile.perfil" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account-o"></i> Cliente</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="produtos.main" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-layers"></i> Produtos</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="relatorios.main" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-assignment"></i> Relatórios</a>
        </li>

        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('produto') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-widgets"></i> Produtos</a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="produto.gerencia-categoria" data-ng-click="mactrl.sidebarStat($event)">Gernecia de Categoria</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="produto.gerencia-produto-servico" data-ng-click="mactrl.sidebarStat($event)">Gerencia de Produtos/Serviços</a></li>
            </ul>
        </li>

        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('negociacoes') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-view-list"></i> Minhas Negociações</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="negociacoes.gerencia-fornecedor" data-ng-click="mactrl.sidebarStat($event)">Gerencia de Fornecedores</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="negociacoes.gerencia-requisicoes" data-ng-click="mactrl.sidebarStat($event)">Gerencia de Requisições</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="negociacoes.gerencia-cotacoes" data-ng-click="mactrl.sidebarStat($event)">Gerencia de Cotacões</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="negociacoes.gerencia-pedido" data-ng-click="mactrl.sidebarStat($event)">Gerencia de Pedidos</a></li>
            </ul>
        </li>

        <!--<li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('relatorios') }">-->
            <!--<a href="" toggle-submenu><i class="zmdi zmdi-collection-text"></i> Relatórios</a>-->

            <!--<ul>-->
                <!--<li class="sub-menu">-->
                    <!--<a href toggle-submenu>Pedidos</a>-->
                    <!--<ul>-->
                     <!--<li><a data-ui-sref-active="active" data-ui-sref="relatorios.pedidos.lista" data-ng-click="mactrl.sidebarStat($event)">Lista de Pedido</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li><a data-ui-sref-active="active" data-ui-sref="relatorios.saving" data-ng-click="mactrl.sidebarStat($event)">Saving</a></li>-->
                <!--<li><a data-ui-sref-active="active" data-ui-sref="relatorios.fornecedores" data-ng-click="mactrl.sidebarStat($event)">Fornecedores</a></li>-->
                <!--<li><a data-ui-sref-active="active" data-ui-sref="relatorios.contratos" data-ng-click="mactrl.sidebarStat($event)">Contratos</a></li>-->
            <!--</ul>-->
        <!--</li>-->

        <li data-ui-sref-active="active">
            <a data-ui-sref="integracao" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Integracao</a>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="historico" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Historico de Faturas</a>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="consulta" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Nova Consulta</a>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="faleconosco" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Fale Conosco</a>
        </li>


    </ul>
</div>
