<section id="content">
    <div class="container">

        <div class="card" style="margin-bottom: 0 !important;">
            <div class="card-header">
                <h2>Relatórios <small>Vestibulum purus quam scelerisque, mollis nonummy metus</small></h2>
            </div>
        </div>

        <div class="card" id="profile-main" data-ng-controller="RelatorioCtrl as vm">

            <div class="pm-overview c-overflow">

                <div class="pmo-block">

                    <div class="form-group m-b-20">
                        <div class="fg-line">
                            <label>Associadas: </label>
                            <div class="select">
                                <select class="form-control input-none">
                                    <option>Todas</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                            </div>
                        </div>
                    </div>



                    <h2><i class="zmdi zmdi-assignment"></i> Tipo de Relatório</h2>

                    <div class="radio m-b-15">
                        <label>
                            <input type="radio" value="pedido" name="tipo_relatorio" data-ng-model="vm.relatorio.tipo">
                            <i class="input-helper"></i>
                           Pedidos
                        </label>
                    </div>

                    <div class="radio m-b-15">
                        <label>
                            <input type="radio" value="saving" name="tipo_relatorio" data-ng-model="vm.relatorio.tipo">
                            <i class="input-helper"></i>
                            Saving
                        </label>
                    </div>

                    <div class="radio m-b-15">
                        <label>
                            <input type="radio" value="fornecedor" name="tipo_relatorio" data-ng-model="vm.relatorio.tipo">
                            <i class="input-helper"></i>
                            Fornecedores
                        </label>
                    </div>

                    <div class="radio m-b-15">
                        <label>
                            <input type="radio" value="contrato" name="tipo_relatorio" data-ng-model="vm.relatorio.tipo">
                            <i class="input-helper"></i>
                            Contratos
                        </label>
                    </div>

                    <hr>

                    <h2><i class="zmdi zmdi-account-o"></i> Usuarios: </h2>

                    <h2><i class="zmdi zmdi-layers"></i> Produtos: </h2>

                    <h2><i class="zmdi zmdi-truck"></i> Fornecedores: </h2>

                    <h2><i class="zmdi zmdi-trending-down"></i> Requisições: </h2>

                    <h2><i class="zmdi zmdi-swap-vertical"></i> Cotações: </h2>

                    <h2><i class="zmdi zmdi-check-all"></i> Pedidos: </h2>

                </div>

            </div>

            <div class="pm-body clearfix">

                <div class="pmo-block" style="padding-top:0">

                    <div class="row">
                        <div class="col-md-3 vcenter">
                            <div class="toggle-switch">
                                <div class="form-group fg-line">
                                    <label for="ts1" class="m-b-20">Personalizar Periodo</label><br>
                                    <input id="ts1" type="checkbox" data-ng-model="vm.personalizar_periodo" ng-change="vm.personalizar(vm.personalizar_periodo)" hidden="hidden">
                                    <label for="ts1" class="ts-helper"></label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 vcenter" id="definir_datas">
                            <div class="row">
                                <div class="col-md-5 vcenter">
                                    <div class="form-group fg-line disabled">
                                        <label>Periodo Inicial</label>
                                        <input type="text" class="form-control" disabled="disabled" data-input-mask="{mask: '00/00/0000'}" placeholder="ex: 23/05/2014">
                                    </div>
                                </div>

                                <div class="col-md-5 vcenter">
                                    <div class="form-group fg-line ">
                                        <label>Periodo Final</label>
                                        <input type="text" class="form-control" disabled="disabled" data-input-mask="{mask: '00/00/0000'}" placeholder="ex: 23/05/2014">
                                    </div>
                                </div>
                                <div class="col-md-1 vcenter">
                                    <button class="btn btn-default" id="btn_definir_data"><i class="zmdi zmdi-mail-send"></i> Enviar</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="btn-group btn-group-justified" id="btn_periodo_fixo" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button id="btnSeteDias" type="button" data-ng-model="vm.btnSeteDias" data-ng-click="vm.seteDias($event,vm.relatorio.tipo)">7 Dias</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btnMesAtual" type="button" data-ng-model="vm.btnMesAtual" data-ng-click="vm.mesAtual($event,vm.relatorio.tipo)">Esse Mês</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btnMesPassado" type="button" data-ng-model="vm.btnMesPassado" data-ng-click="vm.mesPassado($event,vm.relatorio.tipo)">Mês Passado</button>
                        </div>

                        <div class="btn-group" role="group">
                            <button id="btnSeisMeses" type="button" data-ng-model="vm.btnSeisMeses" data-ng-click="vm.seisMeses($event,vm.relatorio.tipo)">6 Mês</button>
                        </div>
                    </div>

                    <hr>

                    <canvas ng-if="vm.mostrarGraficoPedido()" id="line" class="chart chart-line" chart-data="vm.data"
                            chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
                            chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
                    </canvas>

                    <canvas ng-if="vm.mostrarGraficoSaving()" class="chart chart-line" chart-data="vm.data"
                            chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
                            chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
                    </canvas>

                    <canvas ng-if="vm.mostrarGraficoFornecedor()" class="chart chart-line" chart-data="vm.data"
                            chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
                            chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
                    </canvas>

                    <canvas ng-if="vm.mostrarGraficoContrato()" class="chart chart-line" chart-data="vm.data"
                            chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
                            chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
                    </canvas>

                    <hr>

                    <table ng-table="vm.tableSorting" class="table table-striped table-vmiddle">
                        <tr ng-repeat="w in $data">
                            <td data-title="'Fornecedor'" sortable="'fornecedor'">
                                {{ w.fornecedor }}
                            </td>
                            <td data-title="'Status'" sortable="'status'">
                                {{ w.status }}
                            </td>
                            <td data-title="'Data de Criação'" sortable="'data_criacao'">
                                {{ w.data_criacao }}
                            </td>
                            <td data-title="'Data de Envio'" sortable="'data_envio'">
                                {{ w.data_envio }}
                            </td>
                            <td data-title="'Prazo de Resposta'" sortable="'prazo_resposta'">
                                {{ w.prazo_resposta }}
                            </td>
                            <td data-title="'Itens'" sortable="'itens'">
                                {{ w.itens }}
                            </td>
                            <td data-title="'Valor do Pedido'" sortable="'valor_pedido'">
                                {{ w.valor_pedido }}
                            </td>
                        </tr>
                    </table>

                </div>

            </div>

        </div>
    </div>

</section>
