<div>
    <div class="pmb-block">

        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-face"></i> Informações Básicas</h2>

            <ul class="actions">
                <li class="dropdown" uib-dropdown>
                    <a href="" data-ng-click="vm.editarInfoBasica = 1">
                        <i class="zmdi zmdi-edit"></i>
                    </a>
                </li>
            </ul>

        </div>

        <div class="pmbb-body p-l-30">

            <div class="pmbb-view" data-ng-if=":: vm.editarInfoBasica === 0">

                <dl class="dl-horizontal">
                    <dt>CPF: </dt>
                    <dd>{{:: vm.usuario.cpf }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Nome: </dt>
                    <dd>{{:: vm.usuario.nome }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Login: </dt>
                    <dd>{{:: vm.usuario.login }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Email: </dt>
                    <dd>{{:: vm.usuario.email }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Data de Nascimento: </dt>
                    <dd>{{:: vm.usuario.data_nascimento }}</dd>
                </dl>

            </div>

            <form data-ng-submit="vm.salvar('editarInfoBasica', 'Informações Básicas')" class="pmbb-edit" data-ng-if=":: vm.editarInfoBasica === 1">

                <dl class="dl-horizontal">
                    <dt class="p-t-10">CPF:</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.cpf" class="form-control" placeholder="CPF..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Nome:</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.nome" class="form-control" placeholder="Nome..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Login</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.login" class="form-control" placeholder="Login..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Email</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.email" class="form-control" placeholder="Email..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Data de Nascimento</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.data_nascimento" class="form-control" placeholder="Data de nascimento..." />
                        </div>
                    </dd>
                </dl>

                <div class="m-t-10">
                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                    <button class="btn btn-link btn-sm" data-ng-click="vm.editarInfoBasica = 0" >Cancel</button>
                </div>
            </form>

        </div>

    </div>
    <div class="pmb-block">

        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-case"></i> Informações Cargo</h2>

            <ul class="actions">
                <li class="dropdown" uib-dropdown>
                    <a href="" data-ng-click="vm.editarInfoProfissional = 1">
                        <i class="zmdi zmdi-edit"></i>
                    </a>
                </li>
            </ul>

        </div>

        <div class="pmbb-body p-l-30">

            <div class="pmbb-view" data-ng-if=":: vm.editarInfoProfissional === 0">

                <dl class="dl-horizontal">
                    <dt>Cargo: </dt>
                    <dd>{{:: vm.profissional.cargo }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Setor: </dt>
                    <dd>{{:: vm.profissional.setor }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Associada Padrão: </dt>
                    <dd>{{:: vm.profissional.associada_padrao }}</dd>
                </dl>

            </div>

            <form data-ng-submit="vm.salvar('editarInfoProfissional', 'Informações Cargo')" class="pmbb-edit" data-ng-if=":: vm.editarInfoProfissional === 1">

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Cargo:</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.profissional.cargo" class="form-control" placeholder="Cargo..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Setor:</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.profissional.setor" class="form-control" placeholder="Setor..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Associada Padrão:</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.profissional.associada_padrao" class="form-control" placeholder="Associada Padrão..." />
                        </div>
                    </dd>
                </dl>

                <div class="m-t-10">
                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                    <button class="btn btn-link btn-sm" data-ng-click="vm.editarInfoProfissional = 0" >Cancel</button>
                </div>
            </form>

        </div>

    </div>
    <div class="pmb-block">

        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-phone"></i> Informações Contato</h2>

            <ul class="actions">
                <li class="dropdown" uib-dropdown>
                    <a href="" data-ng-click="vm.editar = 1">
                        <i class="zmdi zmdi-edit"></i>
                    </a>
                </li>
            </ul>

        </div>

        <div class="pmbb-body p-l-30">

            <div class="pmbb-view" data-ng-if=":: vm.editar === 0">

                <dl class="dl-horizontal">
                    <dt>Telefone Comercial: </dt>
                    <dd>{{:: vm.cpf }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Telefone Celular: </dt>
                    <dd>{{:: vm.nome }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Telefone Residencial: </dt>
                    <dd>{{:: vm.login }}</dd>
                </dl>

            </div>

            <form data-ng-submit="vm.save('editarUsuario', 'Profile Summary')" class="pmbb-edit" data-ng-if=":: vm.editar === 1">

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Telefone Comercial:</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.cpf" class="form-control" placeholder="CPF..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Telefone Celular:</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.nome" class="form-control" placeholder="Nome..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Telefone Residencial:</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.login" class="form-control" placeholder="Login..." />
                        </div>
                    </dd>
                </dl>

                <div class="m-t-10">
                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                    <button class="btn btn-link btn-sm" data-ng-click="vm.editar = 0" >Cancel</button>
                </div>
            </form>

        </div>

    </div>
</div>