<section id="content">
    <div class="container">

        <div class="card" id="profile-main" data-ng-controller="profileCtrl as pctrl">
            <div class="pm-overview c-overflow">
                <div class="pmo-pic">
                    <div class="p-relative">
                        <a href="">
                            <img class="img-responsive" src="img/profile-pics/senai512-512.png" alt="">
                        </a>

                        <div class="dropdown pmop-message" uib-dropdown>
                            <button uib-dropdown-toggle class="btn bgm-white btn-float">
                                <i class="zmdi zmdi-comment-text-alt"></i>
                            </button>

                            <div class="dropdown-menu stop-propagate">
                                <textarea placeholder="Write something..."></textarea>

                                <button class="btn bgm-green btn-float"><i class="zmdi zmdi-mail-send"></i></button>
                            </div>
                        </div>

                        <a href="" class="pmop-edit">
                            <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
                        </a>
                    </div>


                    <div class="pmo-stat">
                        <h2 class="m-0 c-white">1562</h2>
                        Total Cotações
                    </div>
                </div>

                <div class="pmo-block pmo-contact hidden-xs">
                    <h2>Contact</h2>

                    <ul>
                        <li><i class="zmdi zmdi-phone"></i> {{ pctrl.mobileNumber }}</li>
                        <li><i class="zmdi zmdi-email"></i> {{ pctrl.emailAddress }}</li>
                        <li><i class="zmdi zmdi-facebook-box"></i> {{ pctrl.skype }}</li>
                        <li><i class="zmdi zmdi-twitter"></i> {{ pctrl.twitter }} (twitter.com/malinda)</li>
                        <li>
                            <i class="zmdi zmdi-pin"></i>
                            <address class="m-b-0">
                                {{ pctrl.addressSuite }}, <br/>
                                {{ pctrl.addressCity }}, <br/>
                                {{ pctrl.addressCountry }}
                            </address>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="pm-body clearfix">
                <ul class="tab-nav tn-justified" data-ng-include="'template/profile-menu.html'"></ul>
                <data ui-view></data>
            </div>
        </div>
    </div>

</section>
