<div>
    <div class="pmb-block">

        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-face"></i> Informações Básicas</h2>

            <ul class="actions">
                <li class="dropdown" uib-dropdown>
                    <a href="" data-ng-click="vm.editarInfoBasica = 1">
                        <i class="zmdi zmdi-edit"></i>
                    </a>
                </li>
            </ul>

        </div>

        <div class="pmbb-body p-l-30">
            <form data-ng-submit="vm.save('editarInfoBasica', 'Informações Básicas')" class="pmbb-edit">

                <dl class="dl-horizontal">
                    <dt class="p-t-10">CPF:</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.cpf" class="form-control" placeholder="CPF..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Nome:</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.nome" class="form-control" placeholder="Nome..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Login</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.login" class="form-control" placeholder="Login..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Email</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.email" class="form-control" placeholder="Email..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Confirmar Email</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.confirmarEmail" class="form-control" placeholder="Confirmar Email..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Senha</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.senha" class="form-control" placeholder="Senha..." type="password" />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Confirmar Senha</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.confirmarSenha" class="form-control" placeholder="Confirmar Senha..." type="password" />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Data de Nascimento</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.data_nascimento" class="form-control" placeholder="Data de nascimento..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Cargo</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.cargo" class="form-control" placeholder="Cargo..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Setor</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.setor" class="form-control" placeholder="Setor..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Telefone Comercial</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.telefoneComercial" class="form-control" placeholder="Telefone Comercial..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Telefone Celular</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.telefoneCelular" class="form-control" placeholder="Telefone Celular..." />
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt class="p-t-10">Telefone Residencial</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="vm.usuario.telefoneResidencial" class="form-control" placeholder="Telefone Residencial..." />
                        </div>
                    </dd>
                </dl>

                <div class="m-t-10">
                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                </div>
            </form>

        </div>

    </div>
</div>