<section id="content" ng-controller="GerenciaUsuarioCtrl as gerenciaUsuario">
    <div class="container c-alt">
        <div class="card">
            <div class="card-header">
                <div class="pull-right">
                    <button class="btn btn-primary btn-icon"><i class="zmdi zmdi-accounts-add"></i></button>
                    <button class="btn btn-info btn-icon"
                            ng-disabled="gerenciaUsuario.editarUsuario" ng-click="gerenciaUsuario.goEditarUsuario()"><i class="zmdi zmdi-edit"></i></button>
                    <button class="btn btn-success btn-icon"
                            ng-disabled="gerenciaUsuario.ativarUsuario" ng-click="gerenciaUsuario.onUsuario()"><i class="zmdi zmdi-play"></i></button>
                    <button class="btn btn-danger btn-icon"
                            ng-disabled="gerenciaUsuario.desativarUsuario" ng-click="gerenciaUsuario.offUsuario()"><i class="zmdi zmdi-pause"></i></button>
                    <button class="btn btn-danger btn-icon"
                            ng-disabled="gerenciaUsuario.deletarUsuario"
                    ><i class="zmdi zmdi-delete"></i></button>
                    <button class="btn btn-warning btn-icon"
                            ng-disabled="gerenciaUsuario.permissoesUsuario"><i class="zmdi zmdi-flower-alt"></i></button>
                    <button class="btn btn-warning btn-icon"><i class="zmdi zmdi-group"></i></button>
                    <button class="btn btn-warning btn-icon"><i class="zmdi zmdi-assignment-account"></i></button>
                </div>
                <h2>Gerência de Usuários<small>Todos usuarios [ Page: {{gerenciaUsuario.currentPage}} / {{numPages}} ]</small></p></small></h2>
            </div>

            <div class="card-body table-responsive">

                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th><i class="zmdi zmdi-star f-17"></i></th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Setor</th>
                        <th>Tel.Comercial</th>
                    </tr>
                    </thead>
                    <!--ng-click="gerenciaUsuario.itemSelecionado($event, usuario)"-->
                    <tbody>
                        <tr ng-repeat="usuario in gerenciaUsuario.listaUsuarios | startFrom:(gerenciaUsuario.currentPage - 1) * gerenciaUsuario.pageSize | limitTo:gerenciaUsuario.pageSize">
                            <td>
                                <div class="radio m-b-15">
                                    <label>
                                        <input type="radio" name="usuario" value="{{usuario.id}}" ng-click="gerenciaUsuario.selecionaUsuario($event,usuario)">
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </td>
                            <td><i class="zmdi zmdi-star f-17" ng-class="usuario.ativo == true ? 'c-green' : (usuario.ativo == false ? 'c-red' : '')"></i></td>
                            <td>{{usuario.nome}}</td>
                            <td>{{usuario.login}}</td>
                            <td>{{usuario.email}}</td>
                            <td>{{usuario.setor}}</td>
                            <td>{{usuario.contato}}</td>
                        </tr>

                    </tbody>
                </table>

                <uib-pagination total-items="gerenciaUsuario.listaUsuarios.length" max-size="gerenciaUsuario.maxSize"
                                ng-model="gerenciaUsuario.currentPage" items-per-page="gerenciaUsuario.pageSize"
                                boundary-link-numbers="true" rotate="false"
                ></uib-pagination>

            </div>

        </div>
    </div>
</section>
