<div class="pmb-block">
    <div class="p-header">
        <ul class="p-menu">
            <li class="active"><a href="" data-ui-sref="cliente.profile.novousuario"><i class="zmdi zmdi-accounts-add hidden-xs"></i> Novo Usuario</a></li>
            <li class="pm-search">
                <div class="pms-inner">
                    <i class="zmdi zmdi-search"></i>
                    <input type="text" placeholder="Search..." ng-model="buscaUsuario">
                </div>
            </li>
        </ul>

        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="contacts c-profile clearfix row">

        <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="usuario in vm.listaUsuarios | filter : buscaUsuario">

            <div class="c-item">
                <a ui-sref="cliente.profile.usuario({id:{{::usuario.id}}})" class="ci-avatar">
                    <img src="img/contacts/user.jpg" alt="">
                </a>

                <div class="c-info">
                    <strong>{{::usuario.nome}}</strong>
                    <small>{{::usuario.email}}</small>
                    <small>{{::usuario.login}}</small>
                </div>

                <div class="c-footer" ng-if="::usuario.ativo">
                    <button class="waves-effect bgm-red c-white" ng-click="vm.desativarUsuario(usuario)"><i class="zmdi zmdi-person-add"></i> Desativar</button>
                </div>
                <div class="c-footer" ng-if="::!usuario.ativo">
                    <button class="waves-effect bgm-green c-white" ng-click="vm.ativarUsuario(usuario)"><i class="zmdi zmdi-person-add"></i> Ativar</button>
                </div>

            </div>
        </div>

    </div>

    <div class="load-more">
        <a href=""><i class="zmdi zmdi-refresh-alt"></i> Load More...</a>
    </div>
</div>