<section id="content">
    <div class="container">

        <div class="card">
            <ul class="tab-nav tn-justified" data-ng-include="'template/produto-menu.html'"></ul>

            <div class="card-header">
                <h2>Gerencia de Categorias <small>Click on columns header to sort the table.</small></h2>
            </div>

            <div class="card-body card-padding">
                <data ui-view></data>

                <a data-ui-sref="categorias.nova">Nova</a>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Nome</th>
                                <th>Produtos</th>
                                <th><i class="zmdi zmdi-globe zmdi-hc-2x"></i></th>
                                <th><i class="zmdi zmdi-edit zmdi-hc-2x"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>A</td>
                                <td>COMBUSTÍVEIS</td>
                                <td>4</td>
                                <td><i class="zmdi zmdi-globe zmdi-hc-2x"></i></td>
                                <td><a href=""><i class="zmdi zmdi-edit zmdi-hc-2x"></i></a> </td>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>EQUIPAMENTO DE COMUNICAÇÃO</td>
                                <td>15</td>
                                <td><i class="c-green zmdi zmdi-globe zmdi-hc-2x"></i></td>
                                <td><a href=""><i class="zmdi zmdi-edit zmdi-hc-2x"></i></a> </td>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>FERRAMENTA E AÇO, EM GERAL</td>
                                <td>2289</td>
                                <td><i class="zmdi zmdi-globe zmdi-hc-2x"></i></td>
                                <td><a href=""><i class="zmdi zmdi-edit zmdi-hc-2x"></i></a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</section>
