<div class="card">
    <div class="card-header bgm-bluegray">
        <h2>Nova Categoria <small>You can type anything here...</small></h2>

            <ul class="lv-actions actions">
                <li>
                    <a data-ui-sref="categorias">
                        <i class="c-white zmdi zmdi-close-circle"></i>
                    </a>
                </li>
            </ul>

        <button class="btn bgm-blue btn-float waves-effect"><i class="zmdi zmdi-mail-send"></i></button>

    </div>

    <div class="card-body card-padding">

        <label>Escolha o tipo:	</label>
        <div class="radio m-b-15">
            <label>
                <input type="radio" name="sample" value="">
                <i class="input-helper"></i>
                Categoria principal
            </label>
        </div>

        <div class="radio m-b-15">
            <label>
                <input type="radio" name="sample" value="">
                <i class="input-helper"></i>
                Subcategoria
            </label>
        </div>


        <div class="form-group">
            <div class="fg-line">
                <label>Nome: </label>
                <input type="text" class="form-control" placeholder="Nome da categoria">
            </div>
        </div>

        <label>Visibilidade: </label>
        <div class="checkbox m-b-15">
            <label>
                <input type="checkbox" value="">
                <i class="input-helper"></i>
                Global
            </label>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Salvar</button>
        </div>

    </div>
</div>