<section id="content">
    <div class="container c-alt">
        <div class="card">
            <div class="card-body card-padding">

                <div class="col-md-12 m-b-15">
                    <a data-ui-sref-active="active" data-ui-sref="negociacoes.gerencia-cotacoes">Gerencia de Cotação</a>
                </div>

                <h1>{{teste}}</h1>

                <div class="card-body card-padding" data-ng-controller="TabsDemoCtrl">

                    <tabset justified="true">
                        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
                          {{tab.content}}
                        </tab>
                    </tabset>

                </div>
                
            </div>
        </div>
    </div>
</section>
