<section id="content">
    <div class="container c-alt">
        <div class="card">
            <div class="card-body card-padding">  

                <div class="col-md-12 m-b-15">
                    <a data-ui-sref-active="active" data-ui-sref="nova-cotacao">Nova Cotação</a>
                    
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-default">Default</button>
                        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button dropdowns</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-ng-repeat="w in items"><a href="">{{ w }}</a></li>
                        </ul>
                    </div>

                </div>



                
                <div class="checkbox">
                    <label>
                        <input type="checkbox"  ng-model="status">
                        <i class="input-helper"></i>     
                        Status                                   
                    </label>
                    <label>
                        <input type="checkbox"  ng-model="usuario">
                        <i class="input-helper"></i>     
                        Usuario                                   
                    </label>
                    <label>
                        <input type="checkbox"  ng-model="criacao">
                        <i class="input-helper"></i>     
                        Criação                                   
                    </label>

                    <label>
                        <input type="checkbox"  ng-model="prazo_resposta">
                        <i class="input-helper"></i>     
                        Prazo Resposta                                   
                    </label>

                    <label>
                        <input type="checkbox"  ng-model="arquivo">
                        <i class="input-helper"></i>     
                        Arquivos                                  
                    </label>

                    <label>
                        <input type="checkbox"  ng-model="respostas">
                        <i class="input-helper"></i>     
                        Resposta                           
                    </label>

                    <label>
                        <input type="checkbox"  ng-model="ren">
                        <i class="input-helper"></i>     
                        Ren                           
                    </label>
                </div>

                {{status}}
               
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <i class="input-helper"></i>                                        
                                        </label>
                                    </div>
                                </th>
                                <th ng-show="status">Status</th>
                                <th>Nome</th>
                                <th>Itens</th>
                                <th ng-show="criacao">Criação</th>
                                <th ng-show="prazo_resposta">Resposta até</th>
                                <th ng-show="usuario">Usuário</th>
                                <th class="text-center" ng-show="arquivo">Arquivos</th>
                                <th ng-show="respostas">Respostas</th>
                                <th ng-show="ren">Ren.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="obj in objeto">
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <i class="input-helper"></i>                                        
                                        </label>
                                    </div>
                                </td>
                                <td ng-show="status">{{obj.status}}</td>
                                <td>{{obj.nome}}</td>
                                <td>{{obj.itens}}</td>
                                <td ng-show="criacao" >{{obj.criacao}}</td>
                                <td ng-show="prazo_resposta">{{obj.prazo_resposta}}</td>
                                <td ng-show="usuario">{{obj.usuario}}</td>
                                <td class="text-center" ng-show="arquivo">
                                <i class="zmdi zmdi-upload zmdi-hc-2x"></i></td>
                                <td ng-show="respostas">{{obj.resposta}}</td>
                                <td ng-show="ren">Icone</td>
                            </tr>                   
                        </tbody>
                    </table>               
                </div>
                
        </div>
    </div>
</section>
