<section id="content">
    <div class="container">

        <div class="card">
            <ul class="tab-nav tn-justified" data-ng-include="'template/produto-menu.html'"></ul>

            <div class="card-header">
                <h2>Gerencia de Produtos <small>Click on columns header to sort the table.</small></h2>
            </div>

            <div class="card-body card-padding">
                <data ui-view></data>
                <a data-ui-sref="produtos.main.novo">Novo</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Codigo</th>
                            <th>Nome</th>
                            <th>Embalagem</th>
                            <th>Unidade</th>
                            <th>Categoria</th>
                            <th><i class="zmdi zmdi-globe zmdi-hc-2x"></i></th>
                            <th><i class="zmdi zmdi-edit zmdi-hc-2x"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>A</td>
                            <td>6000001</td>
                            <td>ABACATE, IN NATURA</td>
                            <td></td>
                            <td>QUILOGRAMA</td>
                            <td>GÊNEROS ALIMENTÍCIOS</td>
                            <td><i class="zmdi zmdi-globe zmdi-hc-2x"></i></td>
                            <td><a href=""><i class="zmdi zmdi-edit zmdi-hc-2x"></i></a> </td>
                        </tr>
                        <tr>
                            <td>A</td>
                            <td>6000397</td>
                            <td>ABACAXI, EM CALDA, LATA: 500g</td>
                            <td></td>
                            <td>LATA</td>
                            <td>GÊNEROS ALIMENTÍCIOS</td>
                            <td><i class="zmdi zmdi-globe zmdi-hc-2x"></i></td>
                            <td><a href=""><i class="zmdi zmdi-edit zmdi-hc-2x"></i></a> </td>
                        </tr>
                        <tr>
                            <td>A</td>
                            <td>6000002</td>
                            <td>ABACAXI, IN NATURA</td>
                            <td></td>
                            <td>QUILOGRAMA</td>
                            <td>GÊNEROS ALIMENTÍCIOS</td>
                            <td><i class="zmdi zmdi-globe zmdi-hc-2x"></i></td>
                            <td><a href=""><i class="zmdi zmdi-edit zmdi-hc-2x"></i></a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

</section>
