<div class="card">
    <div class="card-header bgm-bluegray">
        <h2>Novo Produto <small>Adicione um produto ou serviço em seu catálogo.</small></h2>

        <ul class="lv-actions actions">
            <li>
                <a data-ui-sref="produtos.main">
                    <i class="c-white zmdi zmdi-close-circle"></i>
                </a>
            </li>
        </ul>

        <button class="btn bgm-blue btn-float waves-effect"><i class="zmdi zmdi-mail-send"></i></button>

    </div>

    <div class="card-body card-padding">

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="fg-line">
                        <label>Código: </label>
                        <input type="text" class="form-control" placeholder="Código">
                    </div>
                </div>

                <div class="form-group">
                    <div class="fg-line">
                        <label>Descrição: </label>
                        <input type="text" class="form-control" placeholder="Descrição">
                    </div>
                </div>

                <div class="form-group">
                    <div class="fg-line">
                        <label>Descrição detalhada: </label>
                        <textarea class="form-control" rows="3" placeholder="Faça uma Descrição detalhada"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="fg-line">
                        <label>Embalagem do produto: </label>
                        <input type="text" class="form-control" placeholder="Embalagem do produto">
                    </div>
                </div>

                <div class="form-group">
                    <div class="fg-line">
                        <label>Fornecedores devem cotar em: </label>
                        <input type="text" class="form-control" placeholder="Unidade de médida, ex: Caixa,Fardo,Quilo,Litro">
                    </div>
                </div>

                <div class="form-group">
                    <div class="fg-line">
                        <div class="select">
                            <select class="form-control">
                                <option>Categoria</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                    </div>
                </div>

                <label>Visibilidade: </label>
                <div class="checkbox m-b-15">
                    <label>
                        <input type="checkbox" value="">
                        <i class="input-helper"></i>
                        Global
                    </label>
                </div>

                <label>Marcas/Fabricantes: </label>
                <div class="checkbox m-b-15">
                    <label>
                        <input type="checkbox" value="">
                        <i class="input-helper"></i>
                        Obrigatória(s)
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                    <div>
                    <span class="btn btn-info btn-file">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="...">
                    </span>
                        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <button class="btn btn-primary">Salvar</button>
        </div>

    </div>
</div>