<!DOCTYPE html>
<html class="login-content" data-ng-app="authApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Admin</title>
    <!-- Vendor CSS -->
    <link href="vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="css/app.min.1.css" rel="stylesheet">
    <link href="css/app.min.2.css" rel="stylesheet">
</head>
<body class="login-content" data-ng-controller="loginCtrl as vm">
<!-- Login -->
<div class="lc-block" id="l-login" data-ng-class="{ 'toggled': vm.login === 1 }" data-ng-if="vm.login === 1">
    <form data-ng-submit="vm.logar(vm.usuario)">
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="E-mail" data-ng-model="vm.usuario.email">
            </div>
        </div>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" placeholder="Password" data-ng-model="vm.usuario.password">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                <i class="input-helper"></i>
                Keep me signed in
            </label>
        </div>
        <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
        <ul class="login-navigation">
            <li data-block="#l-register" class="bgm-red" data-ng-click="vm.login = 0; vm.register = 1">Register</li>
            <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="vm.login = 0; vm.forgot = 1">Forgot Password?</li>
        </ul>
    </form>
</div>
<!-- Register -->
<div class="lc-block" id="l-register" data-ng-class="{ 'toggled': vm.register === 1 }" data-ng-if="vm.register === 1">
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Username">
        </div>
    </div>
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Email Address">
        </div>
    </div>
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
        <div class="fg-line">
            <input type="password" class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <i class="input-helper"></i>
            Accept the license agreement
        </label>
    </div>
    <a href="" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>
    <ul class="login-navigation">
        <li data-block="#l-login" class="bgm-green" data-ng-click="vm.register = 0; vm.login = 1">Login</li>
        <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="vm.register = 0; vm.forgot = 1">Forgot Password?</li>
    </ul>
</div>
<!-- Forgot Password -->
<div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': vm.forgot === 1 }" data-ng-if="vm.forgot === 1">
    <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Email Address">
        </div>
    </div>
    <a href="" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>
    <ul class="login-navigation">
        <li data-block="#l-login" class="bgm-green" data-ng-click="vm.forgot = 0; vm.login = 1">Login</li>
        <li data-block="#l-register" class="bgm-red" data-ng-click="vm.forgot = 0; vm.register = 1">Register</li>
    </ul>
</div>
<!-- Older IE warning message -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1 class="c-white">Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="img/browsers/chrome.png" alt="">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="img/browsers/firefox.png" alt="">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="img/browsers/opera.png" alt="">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="img/browsers/safari.png" alt="">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="img/browsers/ie.png" alt="">
                    <div>IE (New)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Core -->
<script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Angular -->
<script src="vendors/bower_components/angular/angular.min.js"></script>
<script src="vendors/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="vendors/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="vendors/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="js/app.js"></script>
<script>
    angular.module('authApp',[])
            .controller('loginCtrl', function(){
                var vm = this;
                vm.login = 1;
                vm.register = 0;
                vm.forgot = 0;
                vm.usuario = {
                    email: "cwilliamson@example.org",
                    password: "secret"
                }
                vm.logar = function (usuario) {
                    $auth.login(usuario)
                            .then(function (res) {
                                //$window.localStorage.setItem('token',res.data.token);
                                console.log($window.localStorage);
                                $location.path('/about');
                            })
                            .catch(function (res) {
                                console.log(res);
                            });
                }
            })
</script>
</body>
</html>