
<!-- Login -->
<div class="lc-block" id="l-login" data-ng-class="{ 'toggled': vm.login === 1 }" data-ng-if="vm.login === 1">
    [img]
    <form data-ng-submit="vm.logar(vm.usuario)">
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="E-mail" data-ng-model="vm.usuario.email">
            </div>
        </div>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
            <div class="fg-line">
                <input type="password" class="form-control" placeholder="Password" data-ng-model="vm.usuario.password">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                <i class="input-helper"></i>
                Keep me signed in
            </label>
        </div>


        <button type="submit" class="btn btn-primary waves-effect pull-left m-t-10"><i class="zmdi zmdi-sign-in"></i> Entrar</button>
        <div class="clearfix"></div>
        <button type="button" class="btn bgm-red waves-effect pull-left m-t-10" data-ng-click="vm.login = 0; vm.register = 1"><i class="zmdi zmdi-sign-in"></i> Registrar</button>

        <button type="button" class="btn bgm-orange waves-effect pull-left m-t-10" data-ng-click="vm.login = 0; vm.register = 1"><i class="zmdi zmdi-sign-in"></i> Forgot Password?</button>

        <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
        <ul class="login-navigation">
            <li data-block="#l-register" class="bgm-red" data-ng-click="vm.login = 0; vm.register = 1">Register</li>
            <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="vm.login = 0; vm.forgot = 1">Forgot Password?</li>
        </ul>
    </form>
</div>

<!-- Register -->
<div class="lc-block" id="l-register" data-ng-class="{ 'toggled': vm.register === 1 }" data-ng-if="vm.register === 1">
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Username">
        </div>
    </div>
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Email Address">
        </div>
    </div>
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
        <div class="fg-line">
            <input type="password" class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <i class="input-helper"></i>
            Accept the license agreement
        </label>
    </div>
    <a href="" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>
    <ul class="login-navigation">
        <li data-block="#l-login" class="bgm-green" data-ng-click="vm.register = 0; vm.login = 1">Login</li>
        <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="vm.register = 0; vm.forgot = 1">Forgot Password?</li>
    </ul>
</div>
<!-- Forgot Password -->
<div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': vm.forgot === 1 }" data-ng-if="vm.forgot === 1">
    <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Email Address">
        </div>
    </div>
    <a href="" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>
    <ul class="login-navigation">
        <li data-block="#l-login" class="bgm-green" data-ng-click="vm.forgot = 0; vm.login = 1">Login</li>
        <li data-block="#l-register" class="bgm-red" data-ng-click="vm.forgot = 0; vm.register = 1">Register</li>
    </ul>
</div>


